name: Super-Linter
on: 
  workflow_dispatch:
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
        - uses: actions/checkout@v4
        
        - name: Super-Linter
        - uses: super-linter/super-linter@v5.7.2
            
        
